<%- include("./header") %>
 <!--class='parallax-window  data-parallax="scroll" 
	 data-image-src="/images/hero1-car-large.jpg" -->

<section id='hero1' class='section-styling landing pl-5 pr-5 parallax-window' data-parallax="scroll" 
	 data-image-src="/images/hero1-car-large.jpg">
	
	
		
	    <div id='background-container pr-sm-5'>
		
				<h1 id='hero1-title'  class="section-title">
					TOKUNBO <span class='d-block'>MOTORS</span>
				</h1>
			
				<p id='paragraph-title'>
					Your trusted car importer in Nigeria
				</p>
			<div >
				<a id='call-to-action' class='btn' href='#contact'>
					GET A QUOTE<span class='d-block'>NOW</span> 
			    </a> 
			</div>
			
			    
		</div>
		
		
	
</section>




<section id='about-us' class='section-styling'>
		<div id='about-us-content-wrapper' class='container row flex-row'>
		<div id='about-us-content-left' class='col-sm-4 about-content'>
			<img src='/images/left-img.jpg' alt='tokunbo' class='img-thumbnail' id='about-img'>
		</div>
		<div id='about-us-content-right' 
			 class='col-sm-8 about-content'>
			<div class='about-content-text  pl-5'>
			<h1 id='about-title' class="section-title">
			<em>GET TO KNOW US</em>	
			</h1>
			<p class='mt-3'>
				Get the best prices on imported used cars for sale. Choose from Toyota, Lexus, Honda, Mercedes and many more. 
			</p>
			<p>
				 Tell us what you are interested in and we will bring it to Nigeria exclusively for you. No need to worry about the shipping and customs, we will take care of that.
			</p>
				<p>
					Transactions are stricly secured. You get and test your car before transaction is completed.
				</p>
			</div>
			
		</div>
	</div>
</section>

<section id='how-we-work' class='section-styling'>
<div id='how-content-wrapper'>
	<div id='how-title-wrapper' class='text-center'>
	<h1  class="section-title">
		<em>HOW DO WE DO IT?</em>
	</h1>
	</div>
   <div id='how-body-wrapper'class='row'>
	   
		<div id='step1-content-wrapper' class='container col-md-3'>
			<div class='how-we-work-content'>
				<i class="material-icons">check_box</i>

					<h3>1. You choose it</h3>
				<p>
					Let us know what car you are looking for. We will get back to you with the right offers. Pick the one that you love.
				</p>
			</div>
		</div>
		<div id='step2-content-wrapper' class='container col-md-3'>
			<div class='how-we-work-content'>
				<i class="material-icons">directions_boat</i>

					<h3>2. We ship it</h3>
				<p >
					Let us do the hard work.
				</p>

			</div>
		</div>
		<div id='step3-content-wrapper' class='container col-md-3'>
			<div class='how-we-work-content'>
				<i class="material-icons">directions_car</i>

					<h3>3. You get it</h3>
				<p>
					Get your car and drive.
				</p>

			</div>
		</div>
	   
	
   </div>
</div>

</section>


<section class='hero-FAQ'>
				<div class='container'>
				<div class='hero-FAQ-content-wrapper'>
					<div class='hero-FAQ-title-wrapper text-center'>
						<h1 class='hero-FAQ-title section-title' >
						  <em>FREQUENTLY ASKED QUESTIONS</em>
						</h1>
					</div>
					<div class='hero-FAQ-list-wrapper mr-md-5 ml-md-5'>
						<ul class='hero-FAQ-list'>
							<li class='hero-FAQ-list-item'>
								<h5 id='question1'>How long does it take to deliver a car?</h5>
								<p id='answer1' class='show-hide'>Shipping usualy takes about 4 weeks, we are able to give you precise date of arrival once agreement has been made.</p>	
							</li>
							<li class='hero-FAQ-list-item'>
								<h5 id='question2'>
									Where do you import cars from?</h5>
								<p id='answer2' class='show-hide'>We import cars mainly from the United Arab Emirates. However, we can also import from Germany and the United States of America.</p>	
							</li>
							<li class='hero-FAQ-list-item'>
								<h5  id='question3'>
								Can my car be delivered to Abuja?	
								</h5>
							   
								<div id='answer3' class='show-hide'>
									<p>
								 Yes it can be delivered to Abuja. All cars arrive in Lagos Port where you can do one of two things:</p>
									<p>i. You can collect it yourself</p>
									<p class='mt-0'>ii. Request a delivery to your location</p>
								
								</div>	
								   
								
							</li>
						</ul>
					</div>
				</div>
				</div>
			</section>


<section id='contact' class='section-styling'>
	<div id='contact-wrapper'>
	<h1 id="contact-header" class="section-title">
		<em>CONTACT US</em>
	</h1>
	<div id='contact-content-wrapper' class='row'>
		<div id='contact-content-info' class='col-md-6'>
			<div class='row' id='info-list'>
				<div class='col'>
					<h4>
						<strong>CALL US</strong>
					</h4>
					<p>
						+2348059351895
					</p>
				</div>
				<div class='col mt-3'>
					<h4>
						<strong>WHATSAPP US</strong>
					</h4>
					<p id='hide-number'>
							+971502881637
					</p>
					<a href="https://api.whatsapp.com/send?phone=+971502881637">
						<p>
							+971502881637
						</p>
					</a>
				</div>
				<div class='col mt-3'>
					<h4>
						<strong>EMAIL US</strong>
					</h4>
					<p id='contact-email'>
						tokunbomotors@hotmail.com
					</p>
				</div>
			</div>
		</div>
		<div id='contact-content-form'class='col-md-6'>
			
			<form action="/send" method="POST">
				<div class="form-group">
					<label>Name: 
						<span class='required-input'>&#42;</span>
					</label>
					<input class="form-control" type="text" name="name"
						   required>
				</div>
				<div class='form-row'>
					<div class="form-group col-6">
					<label>Mobile: 
						<span class='required-input'>&#42;</span>
					</label>
					<input class="form-control" type="text" name="mobile"
						   required>
				</div>
				<div class="form-group col-6">
					<label>Email: 
					</label>
					<input class="form-control" type="email" 
						   name="email" >
				</div>
				</div>
				
				<div class="form group">
				  <label for='vehicle'>Vehicle Information</label>
				
				<div class='form-row'>
					<div class="form-group col-6">
					<!-- <label for='make'>Make (optional)</label> -->
						<select name="make" id="formmake" style='width:100%'>
							<option value="" selected="selected">Make</option>
							
						</select>
					</div>
					<div class="form-group col-6">
						<!-- <label for='model'>Model (optional)</label> -->
						<select name="model" id="formmodel" style='width:100%'>
							<option value="" selected="selected">Model</option>
							
						</select>
				    </div>
				</div>
				<div class='form-row'>
					<div class="form-group col-6">
						<!-- <label for='carCondition'>Condition (optional)</label> -->
						<select name="carCondition" id="carCondition-select" style='width:100%'>
							<option value="" selected="selected"> Condition </option>
							<option value="New">New</option>
							<option value="Used">Used</option>
						</select>
				    </div>
					<div class="form-group col-6">
					<!-- <label for='year'>Year (optional)</label> -->
						<select name="year" id="yearform" style='width:100%'>
							<option value="" selected="selected">Year</option>
							<option value="2016">2020</option>
							<option value="2016">2019</option>
							<option value="2016">2018</option>
							<option value="2016">2017</option>
							<option value="2016">2016</option>
							<option value="2015">2015</option>
							<option value="2014">2014</option>
							<option value="2013">2013</option>
							<option value="2012">2012</option>
							<option value="2011">2011</option>
							<option value="2010">2010</option>
							<option value="2009">2009</option>
							<option value="2008">2008</option>
							<option value="2007">2007</option>
							<option value="2006">2006</option>
							<option value="2005">2005</option>
							<option value="2004">2004</option>
							<option value="2003">2003</option>
							<option value="2002">2002</option>
							<option value="2001">2001</option>
							<option value="2000">2000</option>
						</select>
					</div>
				</div>
				</div>
				
				<div class="form-group">
					<label>Message: 
						<span class='required-input'>&#42;</span>
					</label>
					<textarea name="message"style="width:100%;height:200px"> 
					</textarea>
				</div>
				<div class="form-group">
					<button id='submit-button' class='float-right'>Submit</button>
				</div>
			</form>	
				
		</div>
	</div>
	
	</div>
</section>


<%- include("./footer") %>